<html>
    <head>
        <link href="flexbox.css" rel="stylesheet">
        <title>Flex-Box</title>
    </head>
    <body>
        <main class="wrapper">
            <div class="my-element">
                <div class="box">I am sat next to a sibling element</div>
                <div class="box">If the writing direction is horizontal.</div>
            </div>
            <br>
            <div class="my-element-block">
                <div class="box">I am sat next to a sibling element</div>
                <div class="box">If the writing direction is horizontal.</div>
            </div>
        </main>
    </body>
</html>